<tr>
  <td><%= form.collection_select(:product_id, @products, :id, :name, {}, {class: "form-control"}) %></td>
  <td><%= form.number_field :quantity, class: "form-control", placeholder: 'Agregar cantidad', value: form.object.quantity.abs %></td>
  <%= link_to_remove_nested(form, tag: 'td', link_text: 'Eliminar', tag_attributes: {class: "form-action btn btn-xs btn-block text-white bg-danger mt-2"}) %>
</tr>
