<h1>Notas</h1>
<div class="row">
  <% @notes.each do |note| %>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"><%= note.name %></h5>
        </div>
        <div class="card-body">
          <%= link_to 'Ver', note, class: "btn btn-sm btn-success" %>
        </div>
      </div>
    </div>
  <% end %>
</div>