<h1>Notas</h1>
 <p>Número de notas: <%= @notes.count %></p>
<div class="row">
  <% @notes.each do |note| %>
    <div class="col-sm-3 mb-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"><%= note.name %></h5>
        </div>
        <div class="card-footer d-grid gap-2">
          <%= link_to 'Ver', note, class: "btn btn-info btn-block text-white" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
