<% if user_signed_in? %>
  <section class="text-center text-mute">
    <div class="mt-5">
      <main class="px-3">
        <h1>Hola <%= current_user.name %>!</h1>
        <p class="lead">Recuerda leer los datos introducidos antes de hacer cualquier registro, así te evitas trabajar más!</p>
        <p class="lead">
          <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "btn btn-lg btn-secondary fw-bold border-white bg-info" %>
        </p>
      </main>
    </div>
  </section>
<% else%>
  <h1>Hello world</h1>
<% end %>
