<% if user_signed_in? %>
  <section class="text-center text-mute">
    <div class="mt-5">
      <main class="px-3">
        <h2>Hola <%= current_user.name %>! (<%= current_user.role %>)</h2>
        <p class="lead">Te has autenticado correctamente, ahora estas listo para interactuar con esta aplicación!</p>
        <% unless current_user.Empleado? %>
          <p class="lead">Recuerda leer los datos introducidos antes de hacer cualquier registro, así te evitas trabajar más!</p>
        <% end %>
        <p class="lead">
          <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "btn btn-lg btn-secondary fw-bold border-white bg-info" %>
        </p>
        <img class="img-fluid mb-3 mb-lg-0" src="/admin.svg" alt="">
      </main>
    </div>
  </section>
<% end %>
