<div id="<%= dom_id warehouse_detail %>">
  <p>
    <strong>Quantity:</strong>
    <%= warehouse_detail.quantity %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= warehouse_detail.product_id %>
  </p>

  <p>
    <strong>Warehouse record:</strong>
    <%= warehouse_detail.warehouse_record_id %>
  </p>

</div>
