/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body {
  margin-top: 100px;
 }

 .item {
  border-radius: 6PX;
 }

 .item:hover {
  background: #0d6efd !important;
  
} 

.bx {
  border: solid 2px #fff;
  border-radius: 50px;
  padding: 3px;
  margin: 3px;
  color: #fff;
}
/*Producto*/

.tarjeta{
  color: #333;
  padding: 10px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin: 0 auto; 
  width: 33.33%;
}

.tarjeta-hero {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.tarjeta-hero-bg {
  background-color: #1c74fc;
}

.avatar {
  border-radius: 50%;
  border: solid 2px #333;
}

.tarjeta-title{
  font-weight: 700;
  font-size: 21px;
  color: #3182CE;
  text-align: center;
}

ul li {
  list-style: none;
}

@media (max-width: 1070px){
  .tarjeta {
    width: 48%;
    margin-bottom: 20px;
  }
 }

 @media (max-width: 600px){
  .tarjeta {
  width: 70%;
  margin-bottom: 20px;
  }
 
 }

 .users-avatar {
   display: flex;
   justify-content: center;
   align-items: center;
   
 }

/*Factura*/
.invoice {
  max-width: 800px;
  margin: 50px auto;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.invoice-header {
  position: relative;
  height: 150px;
}

.invoice-content {
  position: relative;
  top: -50px;
  max-width: 700px;
  margin: auto;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #1c74fc 70%, #5f9efc 30%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}

.row {
  display: flex;
}

.col-left {
  width: 65%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;

}

.logo img {
  max-width: 100px;
}

.empresa-info {
  text-align: right;
  color: white;
}

.empresa-info h2 {
  margin: 0;
  font-size: 24px;
  color: white;
}

.datos-cliente, .fecha-factura {
  margin: 20px;
}

.date-number {
  display: flex;
  justify-content: space-between;
}

.datos-cliente h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #333;
  padding: 10px;
  text-align: left;
}

.table th {
  background-color:#1474fc;
  color: white;
}

.summary {
  margin: 20px;
}

.totals {
  margin: 20px;
  text-align: right;
}

.totals ul li {
  list-style: none;
  margin: 5px 0;
}

.invoice-footer {
  position: relative;
  height: 100px;
  margin-top: 40px;
}

.firma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px 20px 20px;
  line-height: normal;
  color: black;
}

.bussiness-info, .client {
  padding: 0;
  list-style: none;
  line-height: 1.5; 
}

.bussiness-info {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

.signature {
  text-align: center;
}

.line {
  width: 100%;
}

.footer-background {
  position: relative;
  height: 150px;
  background: linear-gradient(to left, #1c74fc 70%, #5f9efc 30%);
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
}
