<h1>Categorías</h1>
<div class="row">
  <% @categories.each do |category| %>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"><%= category.name %></h5>
        </div>
        <div class="card-body">
          <p><%= category.description %></p>
          <%= link_to 'Ver', category, class: "btn btn-sm btn-success" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
